DISCORD_WEBHOOK_URL=

# Weekly micro rotation
WEEKLY_ROTATION_TOP_PER_SIDE=2
WEEKLY_ROTATION_MIN_COMPLETED_SEQUENCE=10,5,3,1

# Vercel KV / Upstash Redis
KV_REST_API_URL=
KV_REST_API_TOKEN=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
